// =====================================
// Aesthetics Extends
// =====================================

//TYPE Placeholders

%uppercase {
	text-transform: uppercase;
}

%bold {
	font-weight: bold;
}

// =====================================
// Content Extends
// =====================================

// Display: Inline-block Placeholders

%inlineBlock {
	display: inline-block;
}

%autoMarg {
	margin: 0 auto;
}
