// =====================================
// Mixins
// =====================================

// No Margin 

@mixin noMargin {
	margin: 0;
}

@mixin noPadding {
	padding: 0;
}


// Media queries

@mixin mq($break) {
	@if $break == "tablet" {
		@media (min-width: $brkpoint-tablet) {
			@content;
		}
	}
	@else if $break == "desktop" {
		@media (min-width: $brkpoint-desktop) {
			@content;
		}
	}
	@else {
		@error "Whoops, No value could be retrieved for '#{$break}'."
	}
}

// Flexbox

@mixin flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flexCol {
	-webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flexRow {
	-webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin justSpBtwn {
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}