// =====================================
// Contact Styles
// =====================================

.contact {
	h3 {
		padding: 45px 0 15px; 
	}

	p {
		@include noMargin;
	}

	&-p {
		@extend %inlineBlock;
		max-width: 520px;

		@include mq(tablet) {
			font-size: $font-size-p-sm;
		}
	}
}

#info {
	padding: 20px 0 50px;

	li {
		padding: 8px 0;
	}

	p {
		@extend %inlineBlock;
	}

	a {
		@extend %inlineBlock;
		padding-left: 10px;
	}
}
