// =====================================
// Header Styles
// =====================================

#profile_img {
	@extend %autoMarg;
	display: block;
	width: 200px;
	height: 125px;
}

header {
	@include flex;
	@include flexCol;
	padding-bottom: 40px;
	
	@include mq(tablet) {
		@include justSpBtwn;
		flex-direction: row-reverse;
	}

	p {
		margin-top: 20px;
		
		@include mq(tablet) {
			@include noMargin;
			font-size: $font-size-p;
			max-width: 404px;
			text-align: left;
		}

		@include mq(desktop) {
			max-width: 500px;
			margin-left: 30px;
		}
	}

	#profile_img {
		@include mq(tablet) {
			width: 290px;
			height: 100%;
		}
		
		@include mq(desktop) {
			width: 370px;
			height: 100%;
			margin-right: 30px;
		}
	}
}
