// =====================================
// Navigation Styles
// =====================================

.main-nav {
	margin-bottom: 40px;
	
	@include mq(tablet) {
		margin: 50px 0;
	}

	@include mq(desktop) {
		@include noMargin;
		padding: 0 30px;
	}
}

.nav {
	@include mq(desktop) {
		@include flex;
		@include flexRow;
		height: 140px;
		line-height: 140px;
	}

	h1 {
		margin-bottom: 20px;

		@include mq(desktop) {
			@include noPadding;
			@include noMargin;
		}
	}

	a {
		@extend %mobileButtons;
		display: none;
		padding: 10px 0;

		@include mq(tablet) {
			display: block;
		}

		@include mq(desktop) {
			@include noPadding;
			@include noMargin;
			display: block;
		}
	}

	li {
		button {
			@extend %mobileButtons;

			@include mq(tablet) {
				display: none;
			}
		}
	
		&:first-child {
			@include mq(desktop) {
				margin-right: auto;
			}
		}

		&:nth-child(2) {
			@include mq(tablet) {
				display: none;
			}
		}

		&:nth-child(1n+3) {
			@include mq(tablet) {
				display: inline-block;
			}
		}

		&:nth-child(1n+4) {
			@include mq(tablet) {
				margin-left: 40px;
			}
		}
	}
}
