// =====================================
// Typography Styles
// =====================================

// Global

body {
	text-align: center;
	font-family: $stack-sans-serif;
	font-size: $font-size-main;
	-webkit-font-smoothing: antialiased;
}

a {
	@extend %bold;
	text-decoration: none;
}

button {
	@extend %bold;
}

button:focus {
	outline: none !important;
}

p {
	line-height: 1.4em; 
	font-weight: 300;
}

h3 {
	@extend %uppercase;
}

li {
	list-style-type: none;
}


// NAV

.nav {
	h1 {
		font-size: $font-size-h1;
	}

	a {
		@extend %uppercase;
		font-size: $font-size-sm;
		font-weight: 700;
	}
}


// MAIN

.main h3 {
	font-size: $font-size-sm;
}

.group {
	line-height: 1.6em;

	h2 {
		font-size: $font-size-h2;
		font-weight: 600;
	}
	p {
		font-size: $font-size-main;
	}
}


// CONTACT

.contact h3 {
	font-size: $font-size-main;
}


// FOOTER 

.footer {
	a {
		@extend %uppercase;
		@extend %bold;
		font-size: $font-size-xsm;
	}

	p {
		@extend %bold;
		font-size: $font-size-sm;
	}
}
